<tr class="stock-item">
  <td class="item-image"><%= mini_image(item.variant) %></td>
  <td class="item-name">
  	<%= item.variant.name %>
  	
  	<%= render :partial => "spree/add_ons/line_item_add_on_desc", :locals => { :line_item => item.line_item, :hide_amount => false } %>
  </td>
  <td class="item-qty"><%= item.quantity %></td>
  <td class="item-price"><%= item.line_item.display_total %></td>
</tr>