
<% if variant.product.add_ons.any? %>
  <div>
    <h5><%= Spree::AddOn.model_name.human(count: :many) %></h5>
    <% variant.product.add_ons.each do |add_on|
        item_form.object.line_item_add_ons.find_or_initialize_by(add_on_id: add_on.id)
      end 
    %>    

    <%= item_form.fields_for :line_item_add_ons do |li_add_on| -%>
      <%= li_add_on.hidden_field :add_on_id %>

      <label class='add-on-checkbox'>
        <%= li_add_on.check_box :selected %>
        <%= li_add_on.object.add_on.display_name %>
        <span class='add-on-amount'>(<%= li_add_on.object.add_on.price_in(current_currency).display_amount %>)</span>
      </label>
      <% if li_add_on.object.add_on.show_embroidery? %>
        <div class="embroidery-options <%= li_add_on.object.selected ? "" : "inactive" %>">
          <label >What would you like it to say?</label>
          <%= li_add_on.text_field :embroidery_text, :class => "embroidery-text" %><br>
          
          <label >What <a href="<%= asset_path("emb_fonts.jpg") %>" class="fancybox">font style</a> should we use?</label>
          <div class="cool-select">
            <div class="subject">
              <%= li_add_on.text_field :embroidery_font, :class => "embroidery-font", :readonly => "readonly", :placeholder => "Select a font" %>
              <span class="arrows fa fa-chevron-down"></span>
              <ul>
                <% li_add_on.object.add_on.embroidery_font_options.split(",").each do |color| %>
                  <li><span class="val"><%= color %></span><span class="color <%= color.downcase %>"></span></li>
                <% end %>
              </ul>
            </div>
          </div>

          <label >What color stitching?</label><br>
          <div class="cool-select">
            <div class="subject">
              <%= li_add_on.text_field :embroidery_color, :class => "embroidery-color", :readonly => "readonly", :placeholder => "Select a color" %>
              <span class="arrows fa fa-chevron-down"></span>
              <ul>
                <% li_add_on.object.add_on.embroidery_color_options.split(",").each do |color| %>
                  <li><span class="val"><%= color %></span><span class="color <%= color.downcase %>"></span></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      <% end %> 
    <% end %> 
  
  </div>
<% end %>