<br>
<% line_item.line_item_add_ons.each do |ao| %>
	<% if ao.selected %>
		<%= ao.add_on.name %>
		<% if !hide_amount %>
			<span class='add-on-amount'>(<%= ao.add_on.price_in(current_currency).display_amount rescue ao.add_on.display_amount %>)</span>
		<% end %>
		<br>
	  <% if ao.embroidery_text.present? %>
	    - <%= ao.add_on.display_name %>: <%= ao.embroidery_text %><br>
	    - Font: <%= ao.embroidery_font %><br>
	    - Color: <%= ao.embroidery_color %>
	  <% end %>
  <% end %>
<% end %>