@import "mixins.scss";

body {
   margin:0;
   padding:0;
   height:100%;
}
.page-wrapper {
   min-height:100%;
   position:relative;
}

p{
    padding: 0px;
}

.flash.success, .success.errorExplanation{
  background-color: #21b573;
}

.container{
  width: 960px;
  margin: 0px auto 0px;
  // height: 100% !important;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
  padding-top: 146px;
  padding-bottom: 170px;
}

.footer{

//   clear: both;
//   // height: 180px;
//   // bottom: inherit;
//   position: relative;
//   z-index: 10;
//   height: 180px;
//   margin-top: -180px;
}

#taxon{
  display: none;
}

// search bar
.top-bar form{
  display: inline-block;
  float: right;
}

#cart{
  h1{
    width: 100%;
    text-align: center;
    margin: 30px 0px;
  }
}
table#cart-detail{
  @include rounded-corners-all(3px);
  background-color: #f7f5f2;
  // border: 1px solid #ccc;
  margin: 25px;
  width: 94%;

  // To handle the corner radius
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 5px;


  thead{
    // display: none;
    height: 20px;
    tr th{
      display: none;
    }

    tr th.cart-adjustment-header{
      display: table-cell;
    }
  }

  tbody tr{
    border: none;
    background-color: inherit;
    height: 145px;
  }

  tbody#cart_adjustments tr{
    height: 40px;
  }

  tbody#cart_adjustments tr{
    height: 40px;
  }

  td{
    font-size: 12px;
    color: #999;
  }

  h4{
    a{
      font-size: 12px;
      font-weight: bold;
      color: #000;  
    }
  }

  .cart-item-image{
    width: 260px;
    text-align: center;
    a{
      margin-left: auto;
      margin-right: auto;
    }
    img{
      border: solid 1px #C7C7C7;
    }
  }

  .cart-item-description{
    width: 260px;
  }  
}

.left-line{
  margin-left: 45px;
}

.left-line, .right-line{
  height: 1px;
  width: 300px;
  background-color: #ccc;
  display: inline-block;
  margin-bottom: 7px;
}

#cart-detail #cart-subtotal tr{
  height: 145px;

  button{
    float: right;
    margin-top: -21px;
    margin-right: 47px;
  }
}
.subtotal-title{
  display: inline-block;
  margin: 0px 30px 40px;
  font-size: 22px;
  font-weight: bold;
}

.subtotal{
  font-size: 30px;
  font-weight: bold;
  color: #000;
}

#cart-detail .gift-code-field{
  tr{
    height: 50px;  
  }

  td{
    text-align: right;
    padding: 5px 0px;
    margin: 0px;
  }
  
  input[type="submit"]{
    @extend .green-button
  }

  .green-button{
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-top: -1px;
  }
}
#checkout{
  h1{
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 0px; 
  }

  .form-buttons{
    width: 100%;
    text-align: center;
  }

  #billing, #shipping{
    legend{
      color: #000;
    }

    .inner p{
      padding: 0px;
    }
  }
}

.progress-steps{
  counter-reset: li;
  list-style: none;
  position: absolute;
  top: 131px;
  left: 0px;
  background-color: #f7f5f2;
  width: 788px;
  padding-left: 172px;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
  // -moz-box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
  // -webkit-box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
  // box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);

  li{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    // background: #ddd;
    color: #727276;
    text-decoration: none;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    border-radius: .3em;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;

    padding: 0px 60px 0px 16px;

    span:before{

      content: counter(li);
      counter-increment: li;
      position: absolute;
      left: -1.7em;
      top: 50%;
      margin-top: -1em;
      background: #ccc;
      height: 2em;
      width: 2em;
      line-height: 2em;
      // border: .3em solid #fff;
      text-align: center;
      font-weight: bold;
      -moz-border-radius: 2em;
      -webkit-border-radius: 2em;
      border-radius: 2em;
      -webkit-transition: all .3s ease-out;
      -moz-transition: all .3s ease-out;
      -ms-transition: all .3s ease-out;
      -o-transition: all .3s ease-out;
      transition: all .3s ease-out;
    }
    &:first-child{
      margin-left: 20px;
    }

    &.current-first, &.current {
      background-color: #ccc;
      color: #333;
    }
  }
}


div[data-hook="login"] a, div[data-hook="signup"] a, #cvv_link{
  color: rgb(64, 64, 66);

  &:hover{
    color: #000;
  }
}

.row{
  margin-top: 25px;
}
/////////////////////////////////////////////////////////////////////////////////////////////////////////
// Products
ul#products{
  padding: 0px 80px;

  .three.columns{
    width: 240px;
    height: 360px;

    .product-image{
      border: none;
      a{
        width: 225px;
        height: 250px;
      }

      img{
        height: 100%;
        max-width: none;
      }
    }

    a.info, .price.selling{
      color: #333;
      font-size: 16px;
      font-weight: bold;
      border: none;
      height: auto;
    }

    .price.selling{
      color: #747474;
    }
  }
}

.currency{
  display: none;
}

.centered-text{
  width: 500px;
  margin: 0px auto 35px;
}

.top-slider.small{
  width: 960px;
  margin-left: -10px;
  margin-top: -42px;
  height: 300px;
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////
// Product Page

div[data-hook="product_show"]{

  

  div[data-hook="product_right_part"].eight{
    margin-left: 38px;
    width: 400px;

    ul{
      li{
        list-style: none outside none;
        padding-left: 25px;
        background: url(/assets/bullet.png) 0 0 no-repeat;
      }
    }
    div[data-hook="product_price"]{
      width: 350px;
    }

    #product-price{
      float: left;
    }

    .add-to-cart{
      float: right;
    }
  }
}


.call-us-text{
  font-size: 16px;
  margin-top: 14px;
}
.our-phone{
  font-size: 18px;
}

#product-variants{
  li{
    position: relative;
    background: none;
  }
  input{
    display: none;
  }
  // input[name="products[3]"] + label{

  //   &:checked{

  //   }
  // }
  label{
    display: inline-block;  
    cursor: pointer;  
    position: relative;  
    padding-left: 25px;  
    margin-right: 15px;  
    font-size: 13px; 
    &:before{
      content: "";  
      display: inline-block;  
    
      width: 16px;  
      height: 16px;  
    
      margin-right: 10px;  
      position: absolute;  
      left: 0;  
      bottom: 1px;  
      background-color: #aaa;  
      // box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);    
      border-radius: 8px;
    }

    &[for="variant_id_12"]:before, &[for="variant_id_17"]:before, &[for="variant_id_22"]:before, &[for="variant_id_27"]:before{
      background-image:url(/assets/interior-blue.jpg);  
    }
    &[for="variant_id_14"]:before, &[for="variant_id_19"]:before, &[for="variant_id_24"]:before, &[for="variant_id_29"]:before{
      background-image:url(/assets/interior-berry.jpg);  
    }
    &[for="variant_id_13"]:before, &[for="variant_id_18"]:before, &[for="variant_id_23"]:before, &[for="variant_id_28"]:before{
      background-image:url(/assets/interior-silver.jpg);  
    }
    &[for="variant_id_16"]:before, &[for="variant_id_21"]:before, &[for="variant_id_26"]:before, &[for="variant_id_31"]:before{
      background-image:url(/assets/interior-tan.jpg);  
    }
    &[for="variant_id_15"]:before, &[for="variant_id_20"]:before, &[for="variant_id_25"]:before, &[for="variant_id_30"]:before{
      background-image:url(/assets/interior-yellow.jpg);  
    }
  }

  input[type=radio]:checked + label:before {  
    // content: "\2022";  
    color: #f3f3f3;  
    font-size: 30px;  
    text-align: center;  
    line-height: 16px;
    margin-left: 1px; 

    -webkit-box-shadow: 0 0 10px #3888C9;
    -moz-box-shadow:    0 0 10px #3888C9;
    box-shadow:         0 0 10px #3888C9;
  } 
}

.mission-other, .mission-selector{
  display: inline-block;
}

@media (max-width: 642px) {
  .container{
    width: 100%;
    padding-top: 171px;
    padding-bottom: 300px;
  }
  .top-slider.small{
    width: 100%;
    margin-left: 0px;
    height: auto;
    background: none;
  }

  .centered-text{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  #content{
    width: 100%;
  }

  div[data-hook="product_show"] div[data-hook="product_right_part"].eight{
    margin-left: 0px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-left: 5%;
    ul{
      text-align: left;
    }
  }

  div[data-hook="product_left_part"].eight.columns{
   margin-left: auto;
   margin-right: auto;
   float: none;
  }

  table#cart-detail{
    margin: 0px;
    width: 100%;
    tbody tr{
      height: 100px;
      .cart-item-description{
        width: auto;
      }

      td{
        padding: 0px;
      }
    }

    .subtotal{
      display: block;
      float: none;
      position: relative;
    }
    #cart-subtotal tr button{
      clear: both;
      float: none;
      display: block;
      margin: 20px auto 0px;
      position: relative;

    }

    tbody#line_items tr td[data-hook="cart_item_quantity"] .line_item_quantity{
      width: 20px;
    }
  }

  

  .left-line, .right-line{
    width: 60px;
    margin-left: 0px;
  }

  #login, #default{
    #wrapper{
      margin-left: 5%;
      width: 90%;
    }
  }

  ul#products{
    padding: 0px;
    margin-right: 0px;
    li{
      margin-right: 0px;
      margin-left: auto;
      margin-right: auto;
      float: none;
      
    }
  }
  ul#products .three.columns .product-image a{
    margin-right: none;
    width: auto;
    margin: 0px;
  }

  div[data-hook="product_show"] div[data-hook="product_right_part"].eight{
    div[data-hook="product_price"]{
      width: 100%;

      #product-price{
        width: auto;
        display: block;
        float: none;
      }
    }
    .add-to-cart{
      display: block; 
      float: none;
    }
  }
  table#cart-detail tbody tr td[data-hook="cart_item_description"]{
    display: none;
  }

  #registration {
    #existing-customer{
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid #ccc;    
    }
    #guest_checkout{
      padding-bottom: 20px;
    }
  }

  .progress-steps{
    padding-left: 0px;
    top: 157px;
    width: 320px;
    li{
      width: 30px;
      // padding: 0px 50px 0px 5px;

      padding-left: 5px;
      margin-left: 13px;
      padding-right: 30px;
      span{
        // display: none;
        padding: 0px;
        &:before{
          width: 13px;
          left: -13px;
        }
      }
      &:first-child{
        padding-left: 3px;
        margin-left: 13px;  
      }
      &:last-child{
        padding: 0px 20px 0px 5px;
      }
    }
  }

  #checkout{
    p.field{
      width: 245px;
    }
    input[type='text'], input[type="tel"]{
      width: 245px;
    }
  }

  .shipment tr th:first-child, .shipment tr td:first-child{
    display: none;
  }

  div[data-hook="shipping_method_inner"] textarea{
    width: 256px;
  }
}
