<div data-hook="admin_image_form_fields">
  <div class="eight columns alpha">
    <div data-hook="name" class="field">
      <%= f.object.errors.full_messages.to_sentence %>
      <%= f.label Spree::AddOn.human_attribute_name(:name) %>
      <%= f.text_field :name, class: 'fullwidth' %>
      <%= f.label Spree::AddOn.human_attribute_name(:expiration_days) %>
      <%= f.text_field :expiration_days, class: 'fullwidth' %>
      <%= f.label Spree::AddOn.human_attribute_name(:price) %>
      <%= f.text_field :amount, :value => number_to_currency(f.object.amount, :unit => ''), class: 'fullwidth' %>
      <br>
      <br>
      <%= f.label :show_embroidery, class: 'checkbox' do %>
        <%= Spree::AddOn.human_attribute_name(:show_embroidery) %>
        <%= f.check_box :show_embroidery %>
      <% end %><br><br>
      <%= f.label Spree::AddOn.human_attribute_name(:embroidery_color_options) %>
      <%= f.text_field :embroidery_color_options, class: 'fullwidth' %>
      <%= f.label Spree::AddOn.human_attribute_name(:embroidery_font_options) %>
      <%= f.text_field :embroidery_font_options, class: 'fullwidth' %>
    </div>
  </div>
  
  <div class="four columns omega">
    <div data-hook="default" class="field checkbox">
      <%= f.label :default, class: 'checkbox' do %>
        <%= Spree::AddOn.human_attribute_name(:default) %>
        <%= f.check_box :default %>
      <% end %>
    </div>
  </div>
  <div data-hook="description" class="field alpha twelve columns">
    <%= f.label Spree::AddOn.human_attribute_name(:description) %>
    <%= f.text_area :description, rows: 4, class: 'fullwidth no-resize' %>
  </div>
</div>

<div class="clear"></div>
