<% content_for :page_title do %>
  <%= "Idaho Taxes" %>
<% end %>

<% content_for :page_actions do %>
  <li><%= link_to_with_icon 'icon-arrow-left', Spree.t(:back_to_reports_list), spree.admin_reports_url, :class => 'button' %></li>
<% end %>

<% content_for :table_filter_title do %>
  <%= "Date Range" %>
<% end %>

<% content_for :table_filter do %>
  <%= render :partial => 'spree/admin/shared/report_criteria', :locals => {url: spree.idaho_taxes_admin_reports_path} %>
<% end %>

<table class="admin-report" data-hook="unavailable_products">
  <thead>
    <tr>
      <th><%= "Order #" %></th>
      <th><%= "Email" %></th>
      <th><%= "Sales Total" %></th>
      <th><%= "Tax Total" %></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr class="align-center">
        <td><%= link_to order.number, edit_admin_order_path(order) %></td>
        <td><%= order.email %></td>
        <td><%= Spree::Money.new(order.item_total + order.adjustment_total) %></td>
        <td><%= Spree::Money.new(order.additional_tax_total + order.included_tax_total) %></td>
      </tr>
    <% end %>
    <tr class="align-center">
      <td></td>
      <td><strong>Total:</strong></td>
      <td><strong><%= Spree::Money.new( @sales_total) %></strong></td>
      <td><strong><%= Spree::Money.new( @tax_total) %></strong></td>
    </tr>
  </tbody>
</table>