<!-- insert_bottom '#cart-detail' -->

<% if @order.line_items.first.variant.product.has_related_products?('accessories') %>
  <tbody id="cart-related-products">
    <tr>
      <td colspan="6">
        <h3>Customer also bought...</h3>
        <hr>
        <%= render :partial => 'spree/shared/products', :locals => { :products => @order.line_items.first.variant.product.accessories } %>
          
        <hr>
      </td>
    </tr>
  </tbody>
<% end %>