<!-- insert_bottom '#cart-detail' -->

<tbody class="gift-code-field">
  <tr>
    <td colspan="6">
      <div>
        <%= order_form.text_field :coupon_code, :size => 10, :placeholder => Spree.t(:coupon_code) %>
        <%= button_tag  :id => 'update-button', :class => "green-button" do %>
          <%= Spree.t(:apply) %>
        <% end %>
      </div>
    </td>
  </tr>
</tbody>