<tbody id="cart-subtotal">
  <tr>
    <td colspan="6">
      <div class="left-line"></div>
      <div class="subtotal-title"><%= Spree.t(:subtotal) %></div>
      <div class="right-line"></div>
      <div class="subtotal center"><%= @order.display_total.to_html %></div>

      <%= button_tag :class => 'button checkout primary green-button', :id => 'checkout-link', :name => 'checkout' do %>
        <%= Spree.t(:continue) %>
      <% end %>
      <div class="shipping-notice ">
        In-stock bags are shipped within 2 business days. Out of stock bags are being built to order. Craftsmanship does take a little bit of time, usually around 2 weeks. If you need your bag faster, (like you are going into the MTC next week) give us a call and we will see what we can do about expediting your order. We can usually make it work.<br>
        269.350.4760
      </div>
    </td>
  </tr>
</tbody>
