<div class="footer">
  <ul class="links grey">
    <li><a href="/store" class="grey">Shop |</a></li>
    <li><a href="/about-us" class="grey">About US | </a></li>
    <li><a href="/warranty" class="grey">Warranty | </a></li>
    <li><a href="/privacy" class="grey">Privacy | </a></li>
    <li><a href="/resellers" class="grey">Wholesale | </a></li>
    <li><%= link_to "Contact Us", "/contacts/new", :class => "grey" %></li>
  </ul>
  <div class="copyright grey">©2013-2014 Missionary Bag</div>
  <span id="siteseal">
  	<script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=2wHHaeolMNiQI7RaDNKYJ66ruT9GaEaAmbFapxqWcuWJSDl2X5i1DnBt7uVq"></script>
  </span>
  <div class="stripe-logo">
    <img src="/assets/stripe_logo.png" alt="Missionary payments processed by Stripe">
    <a href="https://mixpanel.com/f/partner" target="_blank"><img src="https://mixpanel.com/site_media/images/partner/badge_blue.png" alt="Missionary Bags Mobile Analytics" /></a>
  </div>
  <div>
    <br>
    * Sorry folks. We ship most of our packages USPS Priority from Burley, ID. So, some of you might get it a little faster than others. Also, it just costs a lot to ship to you who aren't in the lower 48. Shipping to Alaska and Hawaii takes 3-days and costs $13. Sorry you, our fellow Canadians, 8-15 days and costs $20 (sorry). Or even better, come get your bag in person right here in beautiful Burley - no shipping.
  </div>

</div>

<!-- Add Roll Stuff -->
<script type="text/javascript">
adroll_adv_id = "UK6KQ5KDFREFJIY5JOJGHA";
adroll_pix_id = "TUECYF3P7RAN5E4K4CHYWQ";
(function () {
var oldonload = window.onload;
window.onload = function(){
   __adroll_loaded=true;
   var scr = document.createElement("script");
   var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
   scr.setAttribute('async', 'true');
   scr.type = "text/javascript";
   scr.src = host + "/j/roundtrip.js";
   ((document.getElementsByTagName('head') || [null])[0] ||
    document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
   if(oldonload){oldonload()}};
}());
</script>
