<div class="header">
  <div class="top-bar center font-light">
    <div class="top-bar-content" style="background-color: black">
      <% if Date.today < Date.parse("2017/7/9") %>
        $15 OFF Through July 9 - Use coupon: freedom<br>
        Our offices will be closed July 3-7. All orders will be shipped out the following Monday. Sorry :(
      <% else %>
        Flat Rate, 1-3 day shipping*
      <% end %>
    </div>
  </div>
  <div class="title-bar">
    <div class="float-left title">
      <a href="/"><img src="/assets/top-bar-logo.png" alt="Missionary Bags - MissionaryBag Logo, LDS Missionary Shoulder Bag"></a>
      <h1 class="title">Missionary Bags</h1>
    </div>
    <div class="float-right buttons">
      <!-- <button class="twitter"></button> -->
      <a href="/store/cart" class="fa fa-shopping-cart cart"></a>
      <a href="https://www.facebook.com/MissionaryBag" class="facebook1 fa fa-facebook" target="_blank"></a>
      <a href="/store" class="buy-now green-button with-border">BUILD YOURS NOW</a>
    </div>

  </div>
</div>
