<td class="cart-item-image" data-hook="cart_item_image">
    <% if variant.images.length == 0 %>
      <%= link_to product_image(variant.product), variant.product %>
    <% else %>
      <%= link_to image_tag(variant.images.first.attachment.url(:product)), variant.product %>
    <% end %>
</td>