<img src="/assets/sewing.jpg">

<h2 class="center">About Us</h2>

<div class="section about-us">We are a small manfacturering company located in little Burley, ID with asperations of being big one day. We started Missionary Bags to scratch an itch that needed to be itched. I come from a family of missionaries. 5 of the 8 of went on missions (3 of my sisters became mothers instead). Now my siblings' kids are serving missions - 4 at the current moment, with an additional 3 already returned home. As my sister was preparing her daughters for their missions, she could not find adequate bags for her missionaries. She ended up using hiking bags to outfit her missionaries.
<br><br>
We have been working since earlier this year to develop a bag that would suite the needs of missionaries. We feel strongly that what we are offering will benefit missionaries worldwide. We have big plans for the future, both within the LDS market and without.
<br><br><br>
	<div class="center bold">
		Thanks, David Cook, President
	</div>
	<div class="center ">
		And if you ever want to talk to me personally, call me - 269.350.4760. 
	</div>
</div>
