<img src="/assets/colorful_rolls.jpg">

<h2 class="center">Almost Finished...</h2>

<div class="body about-us">We need to confirm your email address.

To complete the subscription process, please click the link in the email we just sent you.</div>