<script type="text/javascript">
  mixpanel.track("Home Page");
</script>

<div class="signup-form-container modal-container">
  <div class="overlay"></div>
  <div class="outer-container">

    <button class="close-popover">Maybe later</button>
    <div class="inner-container">
      <div class="message fancy-text center"><%= @marketing_message %></div>

      <form action="https://missionarybags.us7.list-manage.com/subscribe/post?u=5a257ced5263ecc27c2972cf9&amp;id=02b6f913c7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate " target="_blank" novalidate>
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
      </form>

    </div>
  </div>

</div>

  <meta itemprop="brand" content="MissionaryBag" />
  <meta itemprop="currency" content="USD" />
  <meta itemprop="price" content="$90" />
  <meta itemprop="image" content="https://s3.amazonaws.com/MissionaryBags/app/public/spree/products/38/product/IMG_0149.jpg?1374551789" />
  <div class="top-slider ">
    <ul class="banner">
      <% if Date.today < Date.parse("2014/12/23") %>
        <li class="christmas-slide">
          <img src="/assets/christmas-bg.jpg" alt="Missionary Bags now has a version 2 available with many improved versions">

          <div>To get your bags by Christmas</div>

          <div class="title">Order IN-STOCK bags by:<!--
            --><div class="date">9am, Saturday, Dec. 20</div>
             <a href="/store" class="buy-now green-button ">Buy Your Bag Now</a>
          </div>

          <div class="christmas-footer">NOTE: If you choose <u>overnight shipping</u>, we can ship up until 12pm on <strong><u>Dec. 22</u></strong>.</div>

        </li>
      <% end %>
      <li class="video-slide">
        <img src="/assets/slider-video-thumbnail.jpg" alt="Missionary Bags now has a version 2 available with many improved versions">

        <!-- <iframe width="613" height="460" src="//www.youtube.com/embed/rI0AL2-9wcA" frameborder="0" allowfullscreen></iframe> -->
        <a href="http://www.youtube.com/watch?v=rI0AL2-9wcA" class="fancybox-media play-button"></a>

      </li>
      <li class="version-2"><img src="/assets/slider2.jpg" alt="Missionary Bags now has a version 2 available with many improved versions">
        <div>Missionary Bag with new features<br>Now Available!!<br>
         <a href="/store" class="buy-now green-button ">Build Your Bag Now</a>
       </div>
      </li>
      <li class="color-varieties"><img src="/assets/bags.jpg" alt="Missionary Bags come in 4 colors: Black, Charcoal, Navy Blue, Olive Green">
        <div>20 Color Combinations Available</div>
      </li>

      <li class="waist-strap"><img src="/assets/slider3.jpg" alt="Missionary Bags can now add a new removeable waist strap.">
        <div>New Removeable Waist Straps<br>
          <a href="/store/products/removable-waist-belt" class="green-button ">Buy Now</a>
        </div>
      </li>
    </ul>

  </div>

  <div class="section our-mission">
    <h2 class="center" itemprop="category" content="Luggage & Bags > Messenger Bags">The Bag that was designed for and by Missionaries</h2>
    <div class="grey center" itemprop="description">Finally, a bag that is actually functional for you as a missionary.<br>The Missionary Bag is designed specifically to meet the demands you will face everyday.</div>
    <div class="buttons">
      <a href="/store" class="buy-now green-button ">Build Your Bag Now</a>
      <div class="text bold">Flat Rate, 1-3 Day Shipping*</div>
    </div>
  </div>
  <div class="section map">
    <h2 class="center">Our bags are used around the world</h2>
    <div id="vmap"></div>
    <div class="grey center">This doesn't include wholesale orders or special event sales.</div>
  </div>

  <div class="section left-side material">
    <div class="description">
      <h2>Material</h2>
      <div class="grey">Silky smooth ballistic Nylon with a tough Nylon lining. <br>It's going to last you a long, long time.</div>
      <div class="buttons">
        <a href="/store" class="buy-now white-button ">Configure Now</a>
      </div>
    </div>
    <img itemprop="image" src="/assets/missionary_bag_1.jpg" alt="Silky Smooth Ballistic Nylon Bags - MissionaryBag.com"></img>
  </div>

  <div class="section center interior">
    <div class="description">
      <h2>Interior</h2>
      <div class="grey center">The interior is made of amazingly tough coated Nylon packcloth. (Lesser brands use this as the outside of the bag.) Lots of room for all your stuff: Books of Mormon, Preach My Gospel, quads, pass along cards, etc. There is even an internal water bottle pocket for those long, hot days.</div>
      <div class="buttons">
        <a href="/store" class="buy-now white-button ">Buy Now</a>
      </div>
    </div>
    <img src="/assets/missionary_bag_2.jpg" alt="Mormon Missionary Bags - Nylon interior with lots of pockets"></img>
  </div>

  <div class="section center hardware">
    <div class="description">
      <h2>Hardware</h2>
      <div class="grey center">The buckles are made of high-strength steel and we only use YKK zippers (that means they're good).</div>
      <div class="buttons">
        <button class="buy-now white-button">BUILD YOURS NOW...</button>
      </div>
    </div>
    <img src="/assets/missionary_bag_3.jpg" alt="Heavy duty hardward - Bags for LDS missionaries"></img>
  </div>

  <div class="section center water-resist">
    <div class="description">
      <h2>Water Resistance</h2>
      <div class="grey center">Ok, we want to say waterproof, but the seams are sealed and water could get in the top. Both the outer and in the fabrics are coated for waterproofness. <br>We can't guarantee it's waterproof, but it will do a pretty good job of keeping your stuff dry.</div>
      <div class="buttons">
        <a href="/store" class="buy-now white-button ">CONFIGURE YOURS...</a>
      </div>
    </div>
    <img src="/assets/missionary_bag_4.jpg" alt="LDS Missionary Bags with waterproofing"></img>
  </div>

  <div class="section center warranty">
    <img src="/assets/logo-large.jpg" alt="Missionary Bags - The Bag for missionaries"></img>
    <div class="description">
      <h2>5-Year Warranty</h2>
      <div class="grey center">You probably won't ever need it, but there is a warranty to make you feel all warm and fuzzy inside. Now, if you accidentally drag it behind your bike for a few miles or you use it protect yourself from a ravenous dog, we may not be able to cover it. (But if you do have an awesome story, with pictures, that involves the destruction of our bag, we may just send you a new one anyways.) If we deem the damage/problem to be outside the warranty, we can fix it for a nominal fee.
      <br>
      <p class="fine-print">
        <b>FINE PRINT:</b> Our bags are covered by a 5-year warranty against material and workmanship defects. Products found to defective will be repaired or replaced at our discrection and Missionary Bags will be the one to make that decision. Products failing due to wear and tear, abuse, companion pranks, neglect or the natural breakdown of materials will be repaired for a nominal fee.
      </p>
      </div>
      <div class="buttons">
        <a href="/store" class="buy-now white-button ">Buy Now</a>
      </div>
    </div>

  </div>
<script type="text/javascript">
  map_data = <%= Mission.mission_counts.to_json.html_safe  %>;
</script>
