<img src="/assets/colorful_rolls.jpg">

<h2 class="center">Privacy</h2>

<div class="body about-us">MissionaryBag.com takes your security and privacy very seriously. We won't sell or transfer your information with other companies. Let's face it, I would hate to have other companies sell/give my information, so I won't do to others who entrust their information with Missionary Bags.
	<br><br>
If you have any questions, please <a href="mailto:support@missionarybag.com" class="grey">email us at support</a> or give us a call (269-350-4760). We would love to talk.</div>