<img src="/assets/ladies.jpg">

<h2 class="center">Wholesale Opportunities</h2>

<div class="body about-us ">To setup a wholesale account, please contact support: <a href="mailto:support@missionarybag.com" class="grey">email us</a> or give us a call 269-350-4760. Normally, minimum orders are 10 bags. Contact us to see how we can help you. Ask about our product displays to find out more how they can help you sell more MissionaryBags in your stores.
	<br><br><br>
	<div class="center">Order Forms: <a href="/MissionaryBag_Order_Form.xls" class="green-color">Excel Order Form</a> or <a href="/MissionaryBag_Order_Form.pdf" class="green-color">	PDF Order Form</a>
	</div>
</div>

