<img src="/assets/cloth_rolls.jpg">

<h2 class="center">Warranty</h2>

<div class="body about-us">Missionary Bag products are covered by a limited 5-year Warranty against material
and workmanship defects. Products found to be defective will be repaired or 
replaced at our discretion. Products failing due to normal wear and tear, abuse,
or natural breakdown of materials over extended use and time will be repaired 
for a nominal fee. For product support <a href="mailto:support@missionarybag.com" class="grey">email us at support</a> or give us a call (269-350-4760), we would love to talk.</div>