<%= order.special_instructions.present? ? "*" : "" %>
<% order.line_items.each do |li| %>
	<% li.line_item_add_ons.each do |lion| %>
		<% if lion.selected && lion.embroidery_text.present? %>
			+
		<% end %>
	<% end %>
<% end %>