<fieldset id="billing" data-hook>
	<legend align="center"><%= Spree.t("Are you serving an LDS Mission") %></legend>
<div class="mission-selector">
	<div>
	<%= label_tag :order_mission, "Select your mission (if applicable)", :id => 'use_billing' %>
	</div>

	<%= form.select :mission_id, content_tag(:option,'select one...',:value=>"")+options_from_collection_for_select(Mission.all, :id, :mission_name, form.object.mission), {}, {:class => "chosen-select"} %>

	<br>
	<%= form.label :mission_date, "Date you report to the MTC", :html =>{  } %>
	<%= form.text_field :mission_date, :class => "datepicker"%>
</div>
<span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;or &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

<div class="mission-other"> 
	<div><%= label_tag :order_other, "Mission not listed? Tell us here..." %></div>
	<%= form.text_field :other %>
</div>
