<% if @order.special_instructions.present? %>
	<fieldset class="no-border-bottom">
		<legend><%= t("shipping_instructions") %></legend>
		<table>
			<tbody class="with-border">
				<tr>
					<td><span><%= @order.special_instructions %></span></td>
				</tr>
			</tbody>
		</table>
	</fieldset>
<% end %>
<% if @order.mission.present? || @order.mission_date.present? %>
	<fieldset class="no-border-bottom">
		<legend>Mission</legend>
		<table>
			<tbody class="with-border">
				<tr>
					<td><span><%= @order.mission.present? ? (Mission.find(@order.mission).mission_name) : (@order.other.present? ? @order.other : "None Specified") %><br><%= @order.mission_date %></span></td>
				</tr>
			</tbody>
		</table>
	</fieldset>
<% end %>
<% 
is_present = false
@order.line_items.each do |li| 
	is_present = li.needs_embroidery?
end
%>
<% if is_present %>
	<fieldset>
		<legend>Embroidery</legend>
		<table>
			<tbody class="with-border">
				<% @order.line_items.each do |li| 
					if li.needs_embroidery? %>
						<tr>
							<td>
								<span><%= li.variant.options_text %></span>
								<%= render :partial => "spree/add_ons/line_item_add_on_desc", :locals => { :line_item => li, :hide_amount => false } %>
							</td>
						</tr>			
					<% end 
				end %>
			</tbody>
		</table>
	</fieldset>
<% end %>

<%= form_for @order, :url => show_to_hoggans_admin_workflow_path(@order) do |f| %>
	<% is_showing_on_hoggans = false
  @order.line_items.each do |line_item|
    if (line_item.variant.stock_items.count > 0 && !line_item.variant.stock_items.first.in_stock?) || (line_item.line_item_add_ons.count > 0 && line_item.line_item_add_ons.first.selected)
      is_showing_on_hoggans == true
    end
  end
  
	%>
	<%= f.check_box :force_to_hoggan %> Show on Hoggans (<%= (@order.force_to_hoggan || is_showing_on_hoggans) ? "Is showing" : "NOT showing" %> )
<% end %>
