<div class="contact">
  <%= form_for(@contact) do |f| %>
    <% if @contact.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

        <ul>
        <% @contact.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <img src="/assets/cloth_rolls.jpg">


    <h2 class="center">Contact Us</h2>

    <div class="grey center description">
      Thanks for visiting Missionary Bag! We love to hear from you and get your feedback (good or bad). Please include your email address so we can get back with you on your comments. 
    </div>

    <div class="form center">
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, :placeholder => "Name" %>
      </div>
      <div class="field">
        <%= f.label :phone %><br />
        <%= f.text_field :phone, :placeholder => "Phone" %>
      </div>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.text_field :email, :placeholder => "email" %>
      </div>
      <div class="field">
        <%= f.label :message %><br />
        <%= f.text_area :message , :placeholder => "Type a message here" %>
      </div>
      <%= raw flash[:notice] %>
      <div class="actions">
        <%= f.submit "Send", :class => "green-button" %>
      </div>
    </div>
    
  <% end %>
</div>