	<table>
		<thead>
			<tr>
				<th colspan=2>Carrier</th>
				<th>Service</th>
				<th>Rate</th>
				<th>Select</th>
				
			</tr>
		</thead>

		<% for rate in rates %>  
			<tr class="order">
				<td><%= rate.carrier %></td>
				<td><%= rate.service %></td>
				<td class="date"><%= rate.rate %></td>
				<td class="status-buttons">
					<%= form_tag purchase_postage_admin_workflow_path(order), :class => "print_postage_form" do %>
						<input type="hidden" name="shipment_id" value="<%= rate.shipment_id %>">
						<input type="hidden" name="rate_id" value="<%= rate.id %>">
						<%= submit_tag "Print Postage" %>
					<% end %>
				</td>
			</tr>
		<% end %>
	</table>
