<h1 class="center">Build Status</h1>
<table>
	<thead>
		<tr>
			<th colspan=2>Order</th>
			<th>Date</th>
			<th>Product</th>
			<th>Status</th>
			<th>Status Updated</th>
			<th>Packing Slip</th>
		</tr>
	</thead>

<% for order in @orders %>  
	<% for line_item in order.line_items %>
			<tr class="order">
				<td></td>
				<td class="order-num">#<%= order.number %></td>
				<td class="date"><%= l order.created_at.to_date %></td>
				<td class="product"><%= line_item.product.name %></td>
				<td class="status line-item-status">
					<%= form_for line_item.manufacture_status, :url => admin_workflow_path(line_item.id) do |m| %>
		
						<%= m.select :status, @status_options, options = {:prompt => "Select status..."}, { :class => "select-control select-case-status select2" } %>
					<% end %>
				</td>
				<td class="status-buttons"><%= l line_item.manufacture_status.updated_at %></td>
				<td class="status-buttons"></td>
			</tr>
		
	<% end %>

	<!-- order notes -->
	<% if order.notes && order.notes.count > 0 %>
		<div class="notes">
			<% for note in order.notes %>
				<div class="note">
					<%= note.note %>
				</div>
			<% end %>
		</div>
	<% end %>

<% end %>
</table>

<script type='text/javascript' src='https://appcenter.intuit.com/Content/IA/intuit.ipp.anywhere.js'></script>

	<!-- configure the Intuit object: 'grantUrl' is a URL in your application which kicks off the flow, see below -->
	<script>
	intuit.ipp.anywhere.setup({menuProxy: 'https://appcenter.intuit.com/api/v1/Account/AppMenu', grantUrl: '<%= authenticate_admin_workflows_url %>'});
	</script>

	<!-- this will display a button that the user clicks to start the flow -->
	<ipp:connectToIntuit></ipp:connectToIntuit>