<style>
.center{text-align: center !important;}
.left{text-align: left !important;}
td{
	vertical-align: top;

}
td, h1, h2, h3, div{
	color: #000;
}
#productTable{width:100%;}
div table:nth-child(1n) td:nth-child(2n+1){font-weight: bold;}
table th{text-align: center;}
table th:nth-child(1){width: 17%;}
table th:nth-child(3){width: 10%;}
table th:nth-child(4){width: 13%;}
#productTable td{text-align: right;}
table td, table th{padding:5px;}
table.product th,.total td{border:1px solid black;}
table th{border-left:0px solid white !important;}
table th:first-child{border-left:1px solid black !important;}
table th:nth-child(1n),.total td:nth-child(1n){border-right:1px solid black;}
table th:last-child,.total td:last-child{border-right:1px solid black;}
table:last-child tr:first-child td:first-child,.product td:first-child{border-left:1px solid black !important;}
table:last-child tr:first-child td:last-child,.product td:last-child{border-right:1px solid black !important;}
table thead tr th{ border: 1px solid black; }
.product:last-child td:nth-child(1){border-bottom:1px solid black !important;}
table.product tbody tr:first-child th, table.product tbody tr:first-child td, .product td{
	border-right:1px solid black;
	border-bottom:1px solid black;
	font-weight: normal !important;
}
.product.last td{ border-bottom: 1px solid black;}
.blank{border:0px !important; border-bottom: none;}
.blank.last{border-right:1px solid black !important;}

.total:last-child td:nth-child(3),.total:last-child td:nth-child(4),.total:last-child td:nth-child(5){
	border-bottom:1px solid black !important;
}
.total td{border-left:0px !important;border-bottom:0px !important;font-weight:bold !important;}
.title-bar{ display: inline-block;}
.subtitle{ font-style: italic; font-size: 24px;}
.left{ text-align: left;}

</style>

<div style="width:1000px;margin:auto;padding:50px;border:1px solid #CCC;font-family:Arial, Helvetica, sans-serif;line-height:1.6em;">
	<div class="title-bar">
		<%= image_tag('Missionary_bag_logo_FIN-600px.png', :height => '90px') %>
	</div>
	<div style="float:right;text-align:center;">
		<h1 style="font-size:2.3em;">Packing Slip</h1>
		<%= Date.today.to_formatted_s(:long_ordinal) %>
	</div>
	<div>
		<h2 class="subtitle" >Bags for Missionaries by Missionaries</h2>
	</div>
	<table style="width:100%;">
		<tr>
			<td style="width:25%;">Address:</td>
			<td>140 E 100 S<br>
				Burley, ID 83318<br>
				Phone: 269-350-4760</td>
			<td style="width:25%;">Ship to:</td>
			<td><%= "#{ @order.ship_address.first_name } #{ @order.ship_address.last_name }" %><br>
				<%= @order.ship_address.address1 %><br>
				<% if @order.ship_address.address2.present? %>
					<%= @order.ship_address.address2 %><br>
				<% end %>
				<%= "#{@order.ship_address.city}, #{@order.ship_address.state} #{@order.ship_address.zipcode}" %><br>
				<%= @order.ship_address.phone %><br>
				<%= @order.email %>
			</td>
		</tr>
		<tr>
			<td>Order Date:</td>
			<td><% if @order.completed_at %>
					<%= @order.completed_at.strftime("%B %e, %Y") %>
				<% end %>
			</td>
			<td colspan=2></td>
		</tr>
		<tr>
			<td>Order Number:
				</td>
			<td><%= @order.number%><br>
				<!-- Purchase Order --></td>
			<td>Bill to:</td>
			<td><%= "#{ @order.bill_address.first_name } #{ @order.bill_address.last_name }" %><br>
				<%= @order.bill_address.address1 %><br>
				<% if @order.bill_address.address2.present? %>
					<%= @order.bill_address.address2 %><br>
				<% end %>
				<%= "#{@order.bill_address.city}, #{@order.bill_address.state} #{@order.bill_address.zipcode}" %><br>
				<%= @order.bill_address.phone %><br>
				<%= @order.email %>
			</td>
		</tr>
	</table>
	<br>
	<table cellpadding="0" cellspacing="0" id="productTable">
		<thead>
			<tr>
				<th>Product</th>
				<th>Description</th>
				<th>Price</th>
				<th>Order Quanity</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			<%
			item_count = 0
			for line_item in @order.line_items
				item_count += line_item.quantity
				%>
				<tr class="product">
					<td class="center"><%= line_item.variant.sku %></td>
					<td class="left"><%= line_item.variant.product.name %><br>
						<%= line_item.variant.options_text %>
						<%= render :partial => "spree/add_ons/line_item_add_on_desc", :locals => { :line_item => line_item, :hide_amount => false } %>
					</td>
					<td><%= number_to_currency(line_item.price) %><% line_item.line_item_add_ons.each do |lion| %><% if lion.selected %><br>+ <%= number_to_currency(lion.price) %>
							<% end %>
						<% end %>
					</td>
					<td><%= line_item.quantity %></td>
					<td><%= number_to_currency(line_item.amount) %></td>
				</tr>
			<% end %>
			<% if @order.line_items.count == 1 && @order.item_total == 100 %>
				<tr class="product">
					<td class="center">BELT</td>
					<td class="left">Removeable Waist Belt</td>
					<td>$10.00</td>
					<td>1</td>
					<td>$10.00</td>
				</tr>
			<% end %>
			<tr class="product last">
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<%
			for adj in @order.all_adjustments %>
				<tr class="total ">
				<td class="blank first"></td>
				<td class="blank first last"></td>
				<td colspan=2 class="left"><%= adj.label %>:</td>

				<td><%= number_to_currency(adj.amount) %></td>
			</tr>
			<% end %>

			<% for ship in @order.shipments %>
				<tr class="total ">
				<td class="blank first"></td>
				<td class="blank first last"></td>
				<td colspan=2 class="left">Shipping:</td>

				<td><%= number_to_currency(ship.cost) %></td>
			</tr>
			<% end %>


			<tr class="total">
				<td class="blank"></td>
				<td class="blank last"></td>
				<td>Total:</td>
				<td><%= item_count %></td>
				<td><%= number_to_currency(@order.total) %></td>
			</tr>
		</tbody>
	</table>
	<br>
	<div style="border:1px solid black;padding:5px;">
		<span class="bold">Comments:</span><br>
		<!-- Comments -->&nbsp;
	</div>
	<br>
	<div class="center">
		Please contact the Customer Service department at <span class="bold">269-350-4760</span> with any questions or concerns.
		<h3>Thank you for your business!</h3>
	</div>
</div>
