<h1 class="center">Shipping Rates for order: <%= @order.number %></h1>

<table>
	<thead>
		<tr>
			<th>Field</th>
			<th>Details</th>
		</tr>
	</thead>
	<tr>
		<td>Date:</td>
		<td><%= @order.postage_date %></td>
	</tr>
	<tr>
		<td>postage_id:</td>
		<td><%= @order.postage_id %></td>
	</tr>
	<tr>
		<td>Type:</td>
		<td><%= @order.postage_type %></td>
	</tr>
	<tr>
		<td>File Type:</td>
		<td><%= @order.postage_file_type %></td>
	</tr>
	<tr>
		<td>Postage URL:</td>
		<td><%= link_to @order.postage_url, @order.postage_url, :target => "_blank"  %></td>
	</tr>
	<tr>
		<td>Postage PDF:</td>
		<td><%= if @order.postage_pdf_url.present? 
			link_to @order.postage_pdf_url, @order.postage_pdf_url, :target => "_blank" 
		else
			link_to "Get PDF URL", update_shipment_admin_workflow_path(@order)
		end %>
			</td>
	</tr>	
	<tr>
		<td>Postage ZPL URL:</td>
		<td><%= if @order.postage_zpl_url.present? 
			link_to @order.postage_zpl_url, @order.postage_zpl_url, :target => "_blank"  
			end  %>
		</td>
	</tr>	
	<tr>
		<td>Postage Epl2 URL:</td>
		<td><%= if @order.postage_epl2_url.present? 
			link_to @order.postage_epl2_url, @order.postage_epl2_url, :target => "_blank"  
			end  %>
		</td>
	</tr>

</table>

<%= link_to "< Back to Order", edit_admin_order_path(@order.number) %>