<h1 class="center">Shipping Rates for order: <%= @order.number %></h1>
<%= form_tag rates_admin_workflow_path(@order), :class => "rates_form" do %>

  
	<div class="field">
		Weight
		<%= text_field_tag "weight", @weight/16 %>lbs
	</div>
	<div class="field">
		Width
		<%= text_field_tag "width", @width %>in.
	</div>
	<div class="field">
		Length
		<%= text_field_tag "length", @length %>in.
	</div>
	<div class="field">
		Height
		<%= text_field_tag "height", @height %>in.
	</div>
	<div class="field">
		Is residential?
		<%= check_box_tag "is_residential", value="1", checked=true %>
	</div>

	<%= submit_tag "Get Rates" %>
<% end %>
<div class="table-loading">loading...</div>
<div class="rate-table">
	
</div>