<h1 class="center">Build Status</h1>
<table>
	<thead>
		<tr>
			<th>Order</th>
			<th>Date</th>
			<th>Product</th>
			<th>Status</th>
			<th>Status Updated</th>
		</tr>
	</thead>

<% for order in @orders 
		showing_rows = false
%>  
	<% order.line_items.each do |line_item| %>
		<% if (line_item.variant.stock_items.count > 0 && !line_item.variant.stock_items.first.in_stock?) || (line_item.line_item_add_ons.count > 0 && line_item.line_item_add_ons.first.selected || order.force_to_hoggan ) 
				showing_rows == true
			%>
			<tr class="order">
			
				<td class="order-num">#<%= order.number %></td>
				<td class="date"><%= l order.created_at.to_date %></td>
				<td class="product"><%= "#{line_item.quantity > 1 ? "#{line_item.quantity} x " : "" }#{line_item.product.name } #{line_item.variant.options_text}" %></td>
				<td class="status line-item-status">
					<%= form_for line_item.manufacture_status, :url => hoggans_construction_path(line_item.id) do |m| %>
		
						<%= m.select :status, @status_options, options = {:prompt => "Select status..."}, { :class => "select-control select-case-status select2" } %>
					<% end %>
				</td>
				<td class="date"><%= l line_item.manufacture_status.updated_at.to_date %></td>
			</tr>
			<% if order.mission_date.present? %>
				<tr class="note"><td colspan=5>
					<span>Reports to MTC on:</span>
					<%= order.mission_date %>
				</td></tr>	
			<% end %>
			<% if line_item.needs_embroidery? %>
				<tr class="note"><td colspan=5>
					<span><%= line_item.variant.options_text %></span>
					<%= render :partial => "spree/add_ons/line_item_add_on_desc", :locals => { :line_item => line_item, :hide_amount => true } %>
				</td></tr>	
			<% end %>
			<% if order.special_instructions.present? %>
				<tr class="note"><td colspan=5>
					<b>Customer Instructions:</b><%= order.special_instructions %>
				</td></tr>
			<% end %>
			<!-- order notes -->
			<% if order.notes && order.notes.count > 0 %>
				<% for note in order.notes %>
					<tr class="note"><td colspan=5>
						<%= note.note %>
					</td></tr>
				<% end %>
			<% end %>
			<% if order.comments && order.comments.count > 0 %>
				<% for comment in order.comments %>
					<tr class="comment"><td colspan=5>
						<%= comment.comment %>
					</td></tr>
				<% end %>
			<% end %>
			<tr>
				<td colspan=5>
					<hr>
				</td>
			</tr>
		<% end %>
	<% end %>

<% end %>
</table>
