<li>
	<%= link_to_with_icon 'icon-c', Spree.t(:packing_slip), packing_slip_admin_workflow_path(@order) %>
</li>
<li>
	<%= link_to_with_icon 'icon-c', Spree.t(:print_postage), shipping_admin_workflow_path(@order.number) %>
</li>
<li>
	<%= link_to_with_icon 'icon-c', Spree.t(:update), update_order_admin_workflow_path(@order.number) %>
</li>