<% qc = QuickbooksConnection.first 
if qc && qc.token %>
	<%= configurations_sidebar_menu_item "Export to Quickbooks", export_to_quickbooks_admin_workflows_path %>
<% end %>
<li>
	<script type='text/javascript' src='https://appcenter.intuit.com/Content/IA/intuit.ipp.anywhere.js'></script>

	<!-- this will display a button that the user clicks to start the flow -->
	<ipp:connectToIntuit></ipp:connectToIntuit>
	
	<!-- configure the Intuit object: 'grantUrl' is a URL in your application which kicks off the flow, see below -->
	<script>
	$("connecttointuit").after("<ipp:connectToIntuit></ipp:connectToIntuit>");
	intuit.ipp.anywhere.setup({menuProxy: 'https://appcenter.intuit.com/api/v1/Account/AppMenu', grantUrl: '<%= authenticate_admin_workflows_url %>'});
	</script>

	
</li>