.contact{
  h2{
    margin-top: 30px;
  }

  .description{
    width: 700px;
    margin: 30px auto;
  }

  .form{
    margin: 30px auto; 
    width: 400px;
    text-align: left;
    label{
      color: #999999;

    }

    input[type='text'],textarea{
      border:1px solid #ccc;
      background-color: #f7f5f2;
      padding: 10px;
      -moz-border-radius:3px;
      -webkit-border-radius:3px;
      border-radius:3px;
      width: 100%;
    }
  }
}