@import "mixins.scss";

h1.title{
  display: none;
}

@keyframes glow {
  to {
      text-shadow: 0 0 10px red;
  }
}

@-webkit-keyframes glow {
  to {
      text-shadow: 0 0 10px red;
  }
}
@-moz-keyframes glow {
  to {
      text-shadow: 0 0 10px red;
  }
}
@-o-keyframes glow {
  to {
      text-shadow: 0 0 10px red;
  }
}
@keyframes glow {
  to {
      text-shadow: 0 0 10px red;
  }
}

.bx-viewport{
  .background-color: white;
}
.banner{
  position: relative;
  text-align: center;
  overflow: hidden;
  padding-left: 0px;
  margin-top: 0px;
  li{
    list-style: none;
    display: block;
    float: left;
    div{
      position: relative;
      font-family: 'Open Sans', sans-serif;
      position: absolute;

      a{
        line-height: 24px;
        // height: 35px;
      }
    }
  }

  // .fluid-width-video-wrapper, .video-slide iframe{
  //   position: absolute;
  //   top:  0px;
  //   left: 0px;
  //   // width:  960px;
  //   // height: 500px;
  // }

  .christmas-slide div{
    top: 30px;
    left: 30px;
    font-size: 30px;
    text-align: left;
    line-height: normal;

    &.title{
      top: 200px;
      text-align: center;
      width: 960px;

    }

    & .date {
      // margin-left: 214px;
      margin-top: -20px;
      font-size: 48px;
      margin-bottom: 43px;
      text-align: center;
      position: relative;
      -webkit-animation: glow .5s infinite alternate;
      -moz-animation:    glow .5s infinite alternate;
      -o-animation:      glow .5s infinite alternate;
      animation:         glow .5s infinite alternate;
    }

    &.christmas-footer{
      text-align: right;
      bottom: 30px;
      font-size: 14px;
      top: auto;
      width: 900px;

    }
  }

  .video-slide .play-button{
    position: absolute;
    top:  0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url(/assets/play-button.png);
    background-repeat: no-repeat; 
    background-position: center;
    &:hover{
      background-color: transparent;
    }
  }

  .color-varieties div{
    font-size: 48px;
    color: #fff;
    bottom: 30px;
    width: 100%;
    line-height: 30px;
    text-align: center;
    text-shadow: 0px 0px 11px rgba(0,0,0,1);
  }

  .version-2 div{
    font-size: 48px;
    color: #000;
    top: 30px;
    right: 30px;
    line-height: 48px;
    text-align: right;
    text-shadow: 0px 0px 11px rgba(109, 109, 109, 1);
  }

  .waist-strap div{
    font-size: 40px;
    color: #000;
    
    top: 30px;
    left: 30px;
    line-height: 48px;
    text-align: left;
    text-shadow: 0px 0px 11px rgba(109, 109, 109, 1);
  }

}

.bx-controls{
  // height: 40px;
}
.dots, .bx-pager {
  // position: absolute;
  // left: 0;
  // right: 0;
  // bottom: 20px;
  list-style: none;

  text-align: center;
  font-size: .85em;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
  position: absolute;
  z-index: 10;
  bottom: -30px;
  width: 100%;

  li, .bx-pager-item{
    list-style: none;
    display: inline-block;

    a{
      background: #666;
      text-indent: -9999px;
      display: block;
      width: 10px;
      height: 10px;
      margin: 0 5px;
      outline: 0;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;

      &.active{
        background: #000;
      }
    }
  }
}

.header{
  background-color: #21b573;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0px;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, .5);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, .5);
  
  .top-bar{
    background-color: #000;
    height: 26px;
    max-height: 26px;
    text-align: center;
    color: #fff;
    padding-top: 4px;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    padding-top: 4px;
  }

  .top-bar-content{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-size: 16px;
    font-weight: 400;
    
    form{
      position: absolute;
      right: 0px;
      top: 0px;
    }
    input[type="search"]{
      height: 8px;
      width: 150px;
      margin-top: -1px;
    }
    input[type="submit"]{
      width: 72px;
      height: 21px;
      background-color: #000;
      border: none;
      -webkit-box-shadow: none;
      -khtml-box-shadow: none;
      -moz-box-shadow: none;
      -o-box-shadow: none;
      box-shadow: none;
      margin-top: -4px;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
    }
  }

  .title-bar{
    height: 100px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;

    .title{
      width: 395px;
      height: 75px;
      margin-top: 12px;

      a:hover{
        background-color: inherit;
      }
    }

    .buttons{
      margin-top: 28px;

      .facebook, .twitter{
        border: none;
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        background-color: #21b573;
        background-position: 3px 9px; 
        -webkit-box-shadow: none;
        box-shadow: none;
        display: inline-block;
      }

      .cart{
        font-size: 20px;
      }
      .facebook1, .facebook{
        font-size: 20px; 
      }

      .cart, .facebook, .facebook1{
        width: 32px;
        color: white;
        &:hover{
          background-color: #21b573
        }
      }
    }
  }
}

.content{
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, .5);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, .5);
  padding-top: 126px;
  padding-bottom: 250px;
}

.section{
  background-image: url(section-divider.png);
  background-repeat: no-repeat;
  background-position: bottom;
  padding-top: 30px;
  padding-bottom: 80px;
  position: relative;
  width: 100%;
  .buttons{
    margin: 30px;
  }

}

.top-slider{
  width: 100%;
  height: 500px;
  background-color: #ababab;
  position: relative;

  font-family: 'Sanchez', 'Libre Baskerville', "Open Sans", sans-serif;
  font-size: 24px;
}

.map{
  height: 500px;
  #vmap{
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 960px) {
  .map{
    height: 300px;
  }
}
@media only screen and (max-width: 450px) {
  .map{
    height: 200px;
  }
}
.our-mission{
  .buttons{
    // width: 300px;
    text-align: center;
    margin: 20px auto;
    button, .text{
      display: inline-block;
    }

    button{
      margin-right: 25px;
    }
    .text{
      margin-top: 4px;
    }
  }
}

.material{
  .description{
    position: absolute;
    left: 166px;
    top: 90px;
    
    h2, div{
      margin-bottom: 30px;
    }

    button{
      margin-left: -37px;
    }  

  }
  img{
    
    height: 960px;
    width: 960px;
    background-position: 0px -75px;
  }

}

.interior{
  padding-bottom: 47px;
  img{
    
    height: 680px;
    width: 960;
    background-position: 0px -75px;
    margin-left: 50px;
    background-repeat: no-repeat;
  }  

  .grey.center{
    width: 516px;
    margin: 0 auto;
  }
}

.hardware{
  padding-bottom: 43px;
  
  img{
    height: 680px;
    width: 960px;
  }
}

.water-resist{
  padding-bottom: 42px;
  img{
    width: 960px;
  }
}

.warranty{
  background-image: none;
  margin-bottom: 100px;

  .description{
    width: 800px;
    margin-left: auto;
    margin-right: auto;

  }
  .fine-print{
    font-size: 10px;
  }

}

.about-us{
  padding: 20px 50px 100px;
  background-image: none;

}

.signup-form-container,
.modal-container{

  display: none;
  width: 100%;
  height: 100%;
  min-height: 100%;
  z-index: 2010;
  position: absolute;
  top: 0;
  left: 0;

  .overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background: url(/assets/overlay.png) repeat 0 0;
    /* This works in IE 8 & 9 too */
    /* ... but also 5, 6, 7 */
    filter: alpha(opacity=50);
    
    /* Older than Firefox 0.9 */
    -moz-opacity:0.5;
  
    /* Safari 1.x (pre WebKit!) */
    -khtml-opacity: 0.5;
    // All modern browsers
    opacity: 0.5;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .close-popover{
    position: absolute;
    top: -5px;
    right: -8px;
    width: 157px;
    height: 30px;
    z-index: 10; 
    background-color: transparent;
    color: #fff;
    text-align: right;
  }

  .outer-container{
    z-index: 2015;
    background-color: rgba(41,41,41,.5);
    // width: 700px;
    // height: 150px;
    position: fixed;
    left: 50%;
    top: 220px;
    margin: 0px 0 0 -350px;
    position: fixed;
    @include rounded-corners-all(7px);
    padding: 23px 10px 10px;
  }

  .inner-container{
    background-color: #fff;
    padding: 20px;
    @include rounded-corners-all(5px);
  }
}

.signup-form-container{
  .outer-container{
    
    left: 50%;
    top: 200px;
    margin: 0px 0 0 -350px;
  }

  .inner-container{
    width: 680px;
    height: 130px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
    
  .message{
    height: 61px;
    font-size: 18px;
  }

  form#mc-embedded-subscribe-form{
    width: 100%;
    text-align: center;
  }

  input[type="email"]{
    @include rounded-corners-all(5px);
    border: 1px solid #dedede;
    box-shadow:  0 2px #fff, inset 0 3px 5px rgba(0,0,0,.06);
    color: #454545;
    font-size: 15px;
    outline: none;
    padding: 10px 15px;
  }
  input[type="submit"]{
    height: 40px;
    @include rounded-corners-all(5px);
  }
}
.order-form-container{
  display: none;

  .outer-container{
    // width: 712px;
    // height: 400px;
    left: 50%;
    top: 120px;
    margin: 0px 0 0 -356px;
    
  }

  .inner-container{
    width: 700px;
    height: 390px;
  }

  .color-location{
    display: none;
    font-weight: normal;
    color: #666;
    margin-top: 0px;
  }

  .exterior-colors{
    margin-top: 20px;
    position: relative;

    .color{

      padding: 8px 5px;
      background-color:  rgba(0, 0, 0, 0);
      color: #000;
      position: absolute;
      z-index: 250;
      top: 0px;

      &#ext-black{
        left: 0px;
      }
      &#ext-charcoal{
        left: 162px;
      }
      &#ext-green{
        left: 324px;
      }
      &#ext-blue{
        left: 486px;
      }


      .color-name{
        margin-top: 10px;
      }

      &:first-child{
        margin-left: 0px;
      }

      &.selected{
        box-shadow: 0 0 10px #9ecaed;
        -webkit-box-shadow: 0 0 10px #9ecaed;
        -moz-box-shadow: 0 0 10px #9ecaed;
      }
      &.selected.centered{
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
      }
      &:hover{
        border: 1px solid #dedede;
        @include rounded-corners-all(5px);  
        padding: 7px 4px;
        background-color: #fff;
         
      }
    }
    img{
      height: 150px;
      width: 150px;
      @include rounded-corners-all(150px);    
      
      border: 1px solid #dedede;

      box-shadow: 0 0 8px rgba(0, 0, 0, .8);
      -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
      -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);

      
    }
  }

  .interior-colors{
    display: none;
    position: relative;
    margin-left: 170px;
    width: 480px;
    margin-right: 0px;
    .color{
      padding: 8px 5px;
      background-color: rgba(255,0,0,0);;
      color: #000;
      position: absolute;
      top: 0px;

      &#int-silver{
        left: 0px;
      }
      &#int-berry{
        left: 192px;
      }
      &#int-blue{
        left: 384px;
      }
      &#int-yellow{
        left: 97px;
        top: 90px;
      }
      &#int-tan{
        left: 290px;
        top: 90px;
      }
      &.selected{
        box-shadow: 0 0 10px #9ecaed;
        -webkit-box-shadow: 0 0 10px #9ecaed;
        -moz-box-shadow: 0 0 10px #9ecaed;
      }
      &.selected.big{
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
      }


      &:hover{
        border: 1px solid #dedede;
        @include rounded-corners-all(5px);  
        padding: 7px 4px;
        background-color: #fff;
        z-index: 260;
      }

      img{
        height: 90px;
        width: 90px;
        @include rounded-corners-all(150px);    
        
        border: 1px solid #dedede;

        box-shadow: 0 0 8px rgba(0, 0, 0, .8);
        -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
        -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
      }

      .color-name{
        margin-top: 10px;
      }


    }
  }

  .color{
    .change{
        display:none;
        position: absolute;
        text-shadow: rgb(151, 150, 150) 0px 0px 14px;
        color: #fff;
        left: 53px;
        top: 71px;
      }
      &.big:hover .change{
        display: inline;
      }
  }

  .buttons{
    display: none;
    position: absolute;
    right: 45px;
    top: 216px;

    .price{
      font-size: 46px;
      text-align: center;
      margin-bottom: 20px;
      line-height: 30px;
      
      .ship-date{
        font-size: 12px;
      }
    }

    .green-button{
      margin-bottom: 10px;
    }
  }
}

.progress-number{
  @include rounded-corners-all(10px);
  height: 20px;
  background-color: #21b573;
  margin-right: 5px;
  padding: 0px 6px;
  color: #fff;
  margin-left: 10px;

}
.step:first-child .progress-number{
  margin-left: 0px;
}
@media only screen and (max-width: 960px) {
  body{
    width: 100%;
  }
  .page-wrapper{
    width: 100%;
  }
  .header .top-bar-content, .header .title-bar, .content{
    width: 100%;
  }

  .material img, .hardware img, .water-resist img {
    height: auto;
    width: 100%;
  }

  .warranty .description{
    width: 100%;
    padding: 10px;
  }

  .banner{
    .christmas-slide div{
      width: 100%;
      &.title{
        width: 95%;
        top: 130px;
      }

      & .date {
        font-size: 40px;
      }

      &.christmas-footer{
        width: 95%;
      }
    }
  }
}

tr.order td{
  width: 20%;
  &:first-child{
    margin-left: 20px;
  }
  &.order-num, &.date{
    width: 15%;
  }
  &.product{
    width: 35%;
  }

}

@media only screen and (max-width: 642px) {
  body{
    width: auto;
  }
  .header{
    .top-bar-content{
      width: 100%;
      

      form{
        display: none;
      }
    }   

    .title-bar{
      width: 100%;
      

      .title{
        float: none;
        margin-left:  auto;
        margin-right: auto;
        width: auto;
        img{
          width: 90%;
          margin-left:  5%;
          margin-right: auto;        
        }
      }

      .buttons{
        margin-top: auto;
        margin-right: 10px;
      }
    }
  } 

  .top-slider{
    height: auto;

    img{
      width: 100%;
    }
  }

  .fluid-width-video-wrapper{
    width: auto;
    height: auto;
  }

  .material, .interior, .hardware, .water-resist{
    padding: 10px;
    .description{
      position: relative;
      margin-left:  auto;
      margin-right: auto;
      left: inherit;
    }
    img {
      height: auto;
      width: 100%;
      margin-left: 0px;
    }
  }

  .interior{
    .grey.center{
      width: 100%;
    }
  }

  .warranty{
    margin-bottom: 0px;
    .description{
      width: 100%;
      padding: 8px;
    }

  }

  .signup-form-container {
    .outer-container{
      width: 90%;
      margin: 0 0 0 -45%;
      height: auto;
      top: 30px;
    }

    .inner-container{
      width: 95%;
      height: auto;
      margin-bottom: 10px;
    }

    .message{
      height: auto;
      margin-bottom: 10px;
    }
    #mc-embedded-subscribe{
      margin-bottom: 5px;
    }
    #mce-EMAIL{
      width: 90%;
    }
  }

  .stripe-logo{
    display: none;
  }

  .banner{
    position: relative;
    text-align: center;
    overflow: hidden;

    li{
      list-style: none;
      display: block;
      float: left;
      div{
        position: relative;
        font-family: 'Open Sans', sans-serif;
        position: absolute;

        a{
          line-height: 24px;
          height: 35px;
        }
      }
    }

    .christmas-slide div{
      left: 14px;
      font-size: 14px;


      &.title{
        top: 50px;
        text-align: left;
        width: 100%;

      }

      & .date {
        // margin-left: 214px;
        margin-top: -25px;
        font-size: 24px;
        margin-bottom: 13px;
        text-align: center;
        position: relative;
        width: 100%;
        -webkit-animation: glow .5s infinite alternate;
        -moz-animation:    glow .5s infinite alternate;
        -o-animation:      glow .5s infinite alternate;
        animation:         glow .5s infinite alternate;
      }

      a{
        display: none;
      }
      &.christmas-footer{
        text-align: right;
        bottom: 10px;
        font-size: 10px;
        top: auto;
        width: 100%;
        line-height: auto;
        left: auto;
        right: 10px;
      }
    }

    .color-varieties div{
      font-size: 16px;
      bottom: 4px;

    }

    .version-2 div{
      font-size: 16px;
      background-color: rgba(0,0,0,.3);
      color: #fff;
      text-shadow: 0px 0px 9px rgba(0,0,0,.3);
      line-height: 20px;
      text-align: center;
      padding: 10px;
      border-radius: 4px;
      top: 106px;
      ftatafafaqs
      a{
        display: none;
      }
    }

    .waist-strap div{
      font-size: 16px;
      font-size: 16px;
      width: 100%;
      position: absolute;
      text-align: center;
      color: #919191;
      text-shadow: 0px 0px 9px #1A1A1A;
      top: -11px;
      a{
        position: absolute;
        left: 74px;
        top: 74px;
      }
    }
  }

  .banner .video-slide .play-button{
    background-image: url(/assets/play-button-small.png);
  }
}