<!-- Facebook SDK -->
<div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=327531060677996";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

<%
	my_image = Spree::Image.find(@product.images.first.id)
%>


<a href="https://pinterest.com/pin/create/button/
?url=<%= product_url(@product.slug)  %>
&media=<%= my_image.attachment.url(:product) %>
&description=Tough%20bags%20for%20missionaries." 
data-pin-do="buttonPin" 
data-pin-config="beside">
	<img src="https://assets.pinterest.com/images/pidgets/pin_it_button.png" />
</a>
  

<div class="fb-like" data-href="<%= product_url(@product.slug)  %>" data-send="false" data-layout="button_count" data-width="200" data-show-faces="true" data-font="lucida grande"></div>

<a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="missionarybag">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

