<div class="top-slider small">
	<img src="/assets/bags2.jpg">
</div>
<h2 class="center">Choose your exterior color</h2>

<h5 class="center grey centered-text">Here at Missionary Bags we strive to offer you the finest built bags, only using the finest materials and highest quality craftsmanship. Each of these bags is made with amazingly tough ballistic nylon.</h5>