<!DOCTYPE html>
<html>
<head>
  <title>MissionaryBag.com</title>
  <link href='https://fonts.googleapis.com/css?family=Sanchez:400italic,400' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="Missionary Bags offers has one of the best bags on the market for missionaries. We have designed and built this bag for the rigors placed on missionaries.">
  <meta http-equiv="Content-Language" content="en-US">
  <meta name="keywords" content="lds missionary shoulder bags, LDS Missionary, LDS missionaries, Mormon missionaries, Missionary Bags, Missionary Bag, Sister Missionary Bags, Missionary Messenger Bag, Ballistic Nylon, iPad Messenger Bag, Sister Missionary Messenger Bag, Shoulder Bags for Missionaries, Shoulder Bag for Missionaries, Shoulder Bags, iPad Shoulder Bag">
  <script type="text/javascript">
  (function(d){
    var f = d.getElementsByTagName('SCRIPT')[0], p = d.createElement('SCRIPT');
    p.type = 'text/javascript';
    p.async = true;
    p.src = '//assets.pinterest.com/js/pinit.js';
    f.parentNode.insertBefore(p, f);
  }(document));
  </script>
  <meta name="msvalidate.01" content="EDB648C97642B56135A66459EC121576" />
  <link rel="shortcut icon" href="/assets/favicon.ico">
  <%= csrf_meta_tags %>


</head>
<body>
  <div class="order-form-container modal-container">
  <div class="overlay"></div>
  <div class="outer-container">

    <button class="close-popover">Close</button>
    <div class="inner-container">
      <h2>Missionary Bag Designer</h2>
      <hr>
      <div class="">
        <span class="step one bold">
          <span class="progress-number">1</span>Pick your exterior color
        </span>
        <span class="step two">
          <span class="progress-number">2</span>Pick your interior color
        </span>

        <div class="exterior-colors">
          <button class="color" id="ext-black" data-prod-id="2" data-color="black">
            <img src="/assets/exterior-black.jpg" alt="Black Exterior Color">
            <div class="color-name bold">Black</div>
            <div class="color-location">Exterior</div>
            <div class="change">Change</div>
          </button>
          <button class="color" id="ext-charcoal" data-prod-id="6" data-color="charcoal">
            <img src="/assets/exterior-charcoal.jpg" alt="Charcoal Exterior Color">
            <div class="color-name bold">Charcoal</div>
            <div class="color-location">Exterior</div>
            <div class="change">Change</div>
          </button>
          <button class="color" id="ext-green" data-prod-id="7" data-color="green">
            <img src="/assets/exterior-green.jpg" alt="Green Exterior Color">
            <div class="color-name bold">OD Green</div>
            <div class="color-location">Exterior</div>
            <div class="change">Change</div>
          </button>
          <button class="color" id="ext-blue" data-prod-id="3" data-color="blue">
            <img src="/assets/exterior-blue.jpg" alt="Blue Exterior Color">
            <div class="color-name bold">Ink Blue</div>
            <div class="color-location">Exterior</div>
            <div class="change">Change</div>
          </button>
        </div>

        <div class="interior-colors">
          <button class="color" id="int-silver" data-black="13" data-charcoal="23" data-green="28" data-blue="18">
            <img src="/assets/interior-silver.jpg" alt="Silver Interior Color">
            <div class="color-name bold">Silver</div>
            <div class="color-location">Interior</div>
            <div class="change">Change</div>
          </button>
          <button class="color" id="int-blue" data-black="12" data-charcoal="22" data-green="27" data-blue="13">
          <!-- <button class="color" id="int-blue" data-black="12" data-charcoal="22" data-green="27" data-blue="17"> -->
            <img src="/assets/interior-blue.jpg" alt="Blue Jay Blue Interior Color">
            <div class="color-name bold">Blue Jay</div>
            <div class="color-location">Interior</div>
            <div class="change">Change</div>
          </button>
          <button class="color" id="int-yellow" data-black="15" data-charcoal="25" data-green="30" data-blue="20">
            <img src="/assets/interior-yellow.jpg" alt="Sunshine Yellow Interior Color">
            <div class="color-name bold">Sunshine</div>
            <div class="color-location">Interior</div>
            <div class="change">Change</div>
          </button>
          <button class="color" id="int-tan" data-black="16" data-charcoal="26" data-green="31" data-blue="21">
            <img src="/assets/interior-tan.jpg" alt="Silver Interior Color">
            <div class="color-name bold">Tan</div>
            <div class="color-location">Interior</div>
            <div class="change">Change</div>
          </button>
          <button class="color" id="int-berry" data-black="14" data-charcoal="24" data-green="29" data-blue="19">
            <img src="/assets/interior-berry.jpg" alt="Silver Interior Color">
            <div class="color-name bold">Berry</div>
            <div class="color-location">Interior</div>
            <div class="change">Change</div>
          </button>
        </div>

        <div class="buttons">
          <%= form_for :order, :url => spree.populate_orders_path, :id => "order-form" do |f| %>
            <input type="hidden" id="product_id" name="products[3]" value="13">
            <input type="hidden" id="variant_id" name="variant_id" value="13">
            <input type="hidden" id="quantity" name="quantity" value="1">
            <div class="price"></div>
            <input type="submit" value="Add To Cart" href="/store" class="add-to-cart green-button ">
            <div class="text center">Flat Rate, 1-3 Day Shipping*</div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>

  <div class="page-wrapper" itemscope itemtype="http://data-vocabulary.org/Product">
    <%= render :partial => "shared/header" %>

    <div class="content">
      <%= yield %>
    </div>

    <%= render :partial => "shared/footer" %>
  </div>
  <%= render :partial => "shared/google_analytics" %>
</body>
</html>
