<!DOCTYPE html>
<html>
<head>
  <title>MissionaryBag.com</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript">
  (function(d){
    var f = d.getElementsByTagName('SCRIPT')[0], p = d.createElement('SCRIPT');
    p.type = 'text/javascript';
    p.async = true;
    p.src = '//assets.pinterest.com/js/pinit.js';
    f.parentNode.insertBefore(p, f);
  }(document));
  </script>
  <meta name="msvalidate.01" content="EDB648C97642B56135A66459EC121576" />
  <link rel="shortcut icon" href="/assets/favicon.ico">
  <%= csrf_meta_tags %>
</head>
<body class="workflow">
  
  
  <div class="page-wrapper">
   
    <div class="content">
      <%= yield %>
    </div>

   
  </div>
  <%= render :partial => "shared/google_analytics" %>
</body>
</html>
